@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: var(--roboto);
    margin: 0;padding: 0;
    box-sizing: border-box;
}

:root{
    --light--gray: #F2F2F2;
    --light--blue: #3D8BF2;
    --dark--blue: #3D46F2;
    --pink: #F24BA7;
    --maroon: #8C030E;

    --roboto: "Roboto", sans-serif;
    --italiana: "Italiana", sans-serif;
}

html{
    font-size: 62.5%;
    position:fixed;
    top: 0;bottom: 0;left:0;right: 0;
    overflow-x: hidden;
}


/* header ----------------------------------------------------------- */
.header--wrapper{
    display: flex;
    align-items: center;
    font-size: 2rem;
    position: sticky;z-index: 1000;
    top: 0;right: 0;left: 0;
    box-shadow: 0 0.3rem 1rem var(--light--gray);
    padding: 2rem;
    padding-left: 11rem;
    padding-right: 11rem;
    background-color: white;
}

.header--wrapper .header--other--section{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header--wrapper .header--other--section .header--icons, 
.header--wrapper .header--other--section .header--login,
.header--wrapper .header--other--section .heading--product{
    cursor: pointer;
}

.header--wrapper .header--elements{
    margin-left: 3rem;
}

.header--wrapper div.heading--name{
    font-family: var(--italiana);
    font-size: 3rem;
}

.header--wrapper .the-search-section{
    display: flex;
    
    align-items: center;
    margin-left: 18rem;
    background-color: var(--light--blue);
}

.header--wrapper .the-search-section .header--searchBar{
    margin: 0.1rem;
    padding: 1rem;
    width: 50rem;
}


.header--wrapper .the-search-section .search--icon{
    margin:0 1.5rem;
    font-size: 3rem;
    color: white;
}

.header--wrapper .heading--product{
    font-weight: bolder;
}

.header--wrapper .cart--icon{
    position: relative;
}

.header--wrapper .cart--count--absolute{
    text-align: center;
    color: var(--maroon);
    border-radius: 50%;
    height: 1.8rem;
    width: 1.8rem;
    font-size: 1.5rem;
    position:absolute;
    top: -45%;right: -18%;
}


/*main--------------------------------------------*/

.app--wrapper{
    
    height: 100vh;
    overflow-y: auto;
}

main.main--wrapper{
    position: relative;
    width: 82.5%;
    margin: auto;
    display: flex;
}


.main--wrapper .categories--wrapper{
    padding:5rem 5rem;
    height: 100vh;
}

.main--wrapper .categories--wrapper .categories--title{
    font-size: 2rem;
    font-weight: bold;
}

.main--wrapper .categories--wrapper .categories--list{
    list-style-type: none;
}

.main--wrapper .categories--wrapper .categories--list--items{
    font-size: 1.6rem;
    margin-top: 0.8rem;
    cursor: pointer;
}

.sky--blue{
    color: #3D8BF2;
}



.main--wrapper .categories--wrapper .categories--list--items:hover{
    color: var(--light--blue);
}

.main--wrapper .categories--wrapper .categories--list--items:focus-within{
    color: var(--light--blue);
}

.product--section{
    padding:1rem 0;
    flex: 1;
}


.product--section .product--section--head{
    padding: 2rem 0.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #3D46F2; */
    font-size: 2rem;
}

#listing--category--heading{
    margin-right: auto;
    font-weight: bold;
}

.product--section .product--section--head select{
    padding: 0.5rem;
    border-radius: 0.5rem;
}

/* display all products----------------------------------------------------------------------- */

.allProducts--Outlet--wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 32rem));
    gap: 1.2rem;
    justify-content: center;
}

div.product--section--head{
    grid-column: 1/-1;
}

.product--item--wrapper{
    display: flex;
    flex-direction: column;
    border: 0.1rem solid darkgray;
}

.product--item--wrapper .product--image--wrapper{
    height: 22rem;
    margin: auto;
}

.product--item--wrapper .product--item--image{
    max-width: 100%;
    height: 100%;
}

.product--item--details{
    border-top: 0.1rem solid darkgray;
    flex: 1;
    padding: 1.2rem;
    font-size: 1.4rem;
    
}

.product--item--details .product--detail--i{
    margin-top: 0.4rem;
}

.product--item--details .product--category{
    color: darkgray;
}

.product--item--details .product--title{
    font-weight: bold;
    font-size: 1.5rem;
}

.product--item--details .product--price{
    color: var(--light--blue);
    font-size: 2rem;
}
.product--item--details .product--discount--price s{
    color: darkgray;
}

.product--item--details .product--discount--price span{
    font-weight: bold;
}

.queried--categories--wrapper{
    padding:2rem 1rem ; 
    position: absolute;
    left: -50rem;
    display: none;
    background-color: white;
    top: 6rem;
    border: 0.1rem solid var(--maroon);
}

.category--button{
    display: none;
    font-size: 1.8rem;
}

.queried--categories--wrapper.active{
    left: 6%;
}

.main--wrapper .queried--categories--wrapper .categories--list{
    list-style-type: none;
}

.main--wrapper .queried--categories--wrapper .categories--list--items{
    font-size: 1.6rem;
    margin-top: 0.8rem;
    cursor: pointer;
}


select{
    /* appearance: none; */
}

.transparent--background{
    display: none;
}

.transparent--background.appear{
    position: fixed;
    top: 0;bottom: 0;right: 0;left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.62);
    text-align: center;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
}

form{
    display: none;
}

form.appear{
    display: block;
    position: absolute;
    z-index: 1001;
    top: 30%;right: 35%;left: 35%;
    background-color: white;
    /* width: 40rem; */
}

form .close--button{
    position: relative;
    top: 1%;left:95%;
    cursor: pointer;
    font-size: 2rem;
}

form .login--form--elements{
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 0.5rem;
    padding: 1rem;
}

form .form--message{
    margin:1.2rem auto;
}


/* Media Queries------------------------------------*/

@media (max-width: 1300px) {

    .header--wrapper{
        flex-direction: column;
        font-size: 1.6rem;
        align-items: center;
        padding: 0.8rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }



    .header--wrapper .header--other--section{
        margin: auto;
        margin-top: 0.5rem;
    }

    .header--wrapper .the-search-section{
        margin-left: auto;
    }
    
    .header--wrapper .the-search-section .header--searchBar{
        margin: 0.1rem;
        padding: 0.3rem;
        width: 100%;
    }
    
    .header--wrapper .heading--product{
        display: none;
    }
    
    .header--wrapper .cart--icon{
        position: relative;
    }
    
    .header--wrapper .cart--count--absolute{
        height: 60%;
        width: 50%;
        font-size: 1rem;
    }

    main.main--wrapper{
        width: 95%;
    }

    .main--wrapper .categories--wrapper{
        padding:2rem 2rem;
    }


    .product--section--head span{
        display: none;
    }

    .categories--wrapper{
        display: none;
    }

    .category--button{
        display: block;
    }

    .queried--categories--wrapper{
        display: block;
    }

    .allProducts--Outlet--wrapper{
        grid-template-columns: repeat(auto-fill, minmax(auto, 49rem));
    }

    
}


@media (max-width: 1024px){
    form.appear{
        top: 30%;right: 25%;left: 25%;
    }
}

@media (max-width: 550px){
    form.appear{
        top: 30%;right: 5%;left: 5%;
    }
}